docker-pycreds==0.4.0
fonttools==4.25.0
kmeans-pytorch==0.3
llvmlite==0.39.1
matplotlib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munkres==1.1.4
pandas==1.5.2
pathtools==0.1.2
Pillow==9.4.0
protobuf==3.20.3
scipy==1.9.3
seaborn
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tornado
tqdm
typing_extensions
umap-learn
